[submodule "ljswitchboard-builder"]
	path = ljswitchboard-builder
	url = https://github.com/chrisJohn404/ljswitchboard-builder
[submodule "ljswitchboard-core"]
	path = ljswitchboard-core
	url = https://github.com/chrisJohn404/ljswitchboard-core
[submodule "ljswitchboard-io_manager"]
	path = ljswitchboard-io_manager
	url = https://github.com/chrisJohn404/ljswitchboard-io_manager
[submodule "ljswitchboard-kipling"]
	path = ljswitchboard-kipling
	url = https://github.com/chrisJohn404/ljswitchboard-kipling
[submodule "ljswitchboard-ljm_driver_checker"]
	path = ljswitchboard-ljm_driver_checker
	url = https://github.com/chrisJohn404/ljswitchboard-ljm_driver_checker
[submodule "ljswitchboard-module_manager"]
	path = ljswitchboard-module_manager
	url = https://github.com/chrisJohn404/ljswitchboard-module_manager
[submodule "ljswitchboard-static_files"]
	path = ljswitchboard-static_files
	url = https://github.com/chrisJohn404/ljswitchboard-static_files
[submodule "LabJack-nodejs"]
	path = LabJack-nodejs
	url = https://github.com/chrisJohn404/LabJack-nodejs
[submodule "ljswitchboard-data_parser"]
	path = ljswitchboard-data_parser
	url = https://github.com/chrisJohn404/ljswitchboard-data_parser
[submodule "ljswitchboard-device_scanner"]
	path = ljswitchboard-device_scanner
	url = https://github.com/chrisJohn404/ljswitchboard-device_scanner
[submodule "ljswitchboard-kipling_tester"]
	path = ljswitchboard-kipling_tester
	url = https://github.com/chrisJohn404/ljswitchboard-kipling_tester
[submodule "ljswitchboard-ljm_device_curator"]
	path = ljswitchboard-ljm_device_curator
	url = https://github.com/chrisJohn404/ljswitchboard-ljm_device_curator
[submodule "ljswitchboard-ljm_driver_constants"]
	path = ljswitchboard-ljm_driver_constants
	url = https://github.com/chrisJohn404/ljswitchboard-ljm_driver_constants
[submodule "LabJack-process_manager"]
	path = LabJack-process_manager
	url = https://github.com/chrisJohn404/LabJack-process_manager
[submodule "ljswitchboard-modbus_map"]
	path = ljswitchboard-modbus_map
	url = https://github.com/chrisJohn404/ljswitchboard-modbus_map
[submodule "ljswitchboard-package_loader"]
	path = ljswitchboard-package_loader
	url = https://github.com/chrisJohn404/ljswitchboard-package_loader
[submodule "ljswitchboard-require"]
	path = ljswitchboard-require
	url = https://github.com/chrisJohn404/ljswitchboard-require
[submodule "ljswitchboard-window_manager"]
	path = ljswitchboard-window_manager
	url = https://github.com/chrisJohn404/ljswitchboard-window_manager
[submodule "ljswitchboard-splash_screen"]
	path = ljswitchboard-splash_screen
	url = https://github.com/chrisJohn404/ljswitchboard-splash_screen
[submodule "ljmmm-parse"]
	path = ljmmm-parse
	url = https://github.com/chrisJohn404/ljmmm-parse
[submodule "ljswitchboard-version_manager"]
	path = ljswitchboard-version_manager
	url = https://github.com/chrisJohn404/ljswitchboard-version_manager
[submodule "ljswitchboard-firmware_verifier"]
	path = ljswitchboard-firmware_verifier
	url = https://github.com/chrisJohn404/ljswitchboard-firmware_verifier
[submodule "ljswitchboard-simple_logger"]
	path = ljswitchboard-simple_logger
	url = https://github.com/chrisJohn404/ljswitchboard-simple_logger
[submodule "ljm-shell_logger"]
	path = ljm-shell_logger
	url = https://github.com/chrisJohn404/ljm-shell_logger
[submodule "kipling-cli"]
	path = kipling-cli
	url = https://github.com/chrisJohn404/kipling-cli
[submodule "ljswitchboard-server"]
	path = ljswitchboard-server
	url = https://github.com/chrisJohn404/ljswitchboard-server
[submodule "ljswitchboard-electron_splash_screen"]
	path = ljswitchboard-electron_splash_screen
	url = https://github.com/chrisJohn404/ljswitchboard-electron_splash_screen
[submodule "ljm-ffi"]
	path = ljm-ffi
	url = https://github.com/chrisJohn404/ljm-ffi
[submodule "ljswitchboard-networking_tools"]
	path = ljswitchboard-networking_tools
	url = https://github.com/chrisJohn404/ljswitchboard-networking_tools
[submodule "ljswitchboard-ljm_special_addresses"]
	path = ljswitchboard-ljm_special_addresses
	url = https://github.com/chrisJohn404/ljswitchboard-ljm_special_addresses
[submodule "ljswitchboard-ljm_device_manager"]
	path = ljswitchboard-ljm_device_manager
	url = https://github.com/chrisJohn404/ljswitchboard-ljm_device_manager
[submodule "lj-apps-win-registry-info"]
	path = lj-apps-win-registry-info
	url = https://github.com/chrisJohn404/lj-apps-win-registry-info
[submodule "ljswitchboard-device_manager"]
	path = ljswitchboard-device_manager
	url = https://github.com/chrisJohn404/ljswitchboard-device_manager
